.text-center{
    text-align: center;
}
.text-center img{
    width: 300px;
    height: 300px;
    padding-top: 4em;
    padding-bottom: 2em;
}
.text-center a{
font-size: 2em;
text-decoration-line: none;
}
.text-center a:hover{
    font-size: 2em;
    text-decoration-line: underline;
    }